*{
    box-sizing: border-box;
}

h1, h3 {
    color: #ffdf2b;
    font-family: 'Archivo Black', sans-serif;
}

h2, h4, h5, p, li {
    color: white;
    font-family: 'Roboto', sans-serif;
}




.python_tag {
    background-color: #ffdf2b;
    color: #004aad;
    padding: 2px 5px;
    border-radius: 5px;
}

#web_prog ul {
    list-style: none;
    padding-left: 10px;
    padding-bottom: 20px;
}

#web_prog li {
    margin: 5px 0px;
}

#web_prog i {
    color: #ffdf2b;
}

#contact i {
    font-size: 24px;
}

#contact a {
    text-decoration: none;
    color: white;
}

#data {
    margin: 0;
}

#data li {
    margin: 15px 0px;
    line-height: 1.5;
}

#data ul {
    list-style: none;
    padding-left: 10px;
}

#contact ul {
    list-style: none;
    padding-left: 10px;
}


@media (max-width: 767px) {
    body {
        height: auto;

        margin: 0px;
        padding: 12.5vh 5vw;

        background-color: #004aad;
    }

    h1 {
        font-size: 42px;
        padding: 0px;
        margin: 0px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-shadow: black -5px 2px;
    }

    h1  svg {
        height: 42px;
        width: 42px;

        font-size: 6vh;
        display: flex;
        fill: yellow;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-size: 22px;
        padding: 0px;
        padding-bottom: 10px;
        margin: 0px;
        margin-top: 1vh;
    }

    #photo_container {
        margin: 50px 18vw;

        height: 50vw;
        width: 50vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        
        overflow: hidden;
        border: 3px solid #ffdf2b;

    }

    #photo_container > img {
        width: 100%; 
        height: auto;
    }

    header {
        height: 120px;
        width: 100vw;

        padding: 2vh 5vw;

        position: fixed;
        top: 0px;
        left: 0px;

        background-color: #004aad;
    }

    h3 {
        margin: 0px;
        font-size: 24px;
    }

    article > h4 {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 24px;
    }

    #experiences {
        padding-bottom: 50px;
    }

    #experiences > article > h4 {
        border-bottom: #ffdf2b solid 2.5px;
        text-transform: uppercase;
        padding-bottom: 1vh;
    }

    #experiences > article > h5 {
        margin: 0px;
    }

    #experiences > article > ul {
        margin: 1vh 0vw;
    } 

    section > h4 {
        font-family: 'Archivo Black', sans-serif;
        color: #ffdf2b;
        font-size: 2.25vh;
        margin-bottom: 0px;
    }

    .spaced_list li {
        margin: 1vh 0vw;
    }

    #data {
        margin-bottom: 30px;
        padding-bottom: 10px;
        border-bottom: 2px solid #ffdf2b;
    }

    #certification {
        border-top: 2px solid #ffdf2b;
    }


}

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        height: auto;

        margin: 0px;
        padding: 12.5vh 5vw;

        background-color: #004aad;
    }

    h1 {
        font-size: 5vw;
        padding: 0px;
        margin: 0px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-shadow: black -5px 2px;
    }

    h1  svg {
        height: 5vh;
        width: 5vh;

        font-size: 5vh;
        display: flex;
        fill: yellow;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-size: 2.5vh;
        padding: 0px;
        margin: 0px;
        margin-top: 1vh;
    }

    #photo_container {
        margin: 2.5vh 0vw;

        height: 50vw;
        width: fit-content;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        
        overflow: hidden;
        border: 3px solid #ffdf2b;
    }

    #photo_container > img {
        max-width: 100%; 
        height: auto;
    }

    header {
        height: auto;
        width: 100vw;

        padding: 2vh 5vw;

        position: fixed;
        top: 0px;
        left: 0px;

        background-color: #004aad;
    }

    h3 {
        margin: 0px;
        font-size: 3vw;
    }

    article > h4 {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 1.5vw;
    }

    #experiences > article > h4 {
        border-bottom: #ffdf2b solid 2.5px;
        text-transform: uppercase;
        padding-bottom: 1vh;
    }

    #experiences > article > h5 {
        margin: 0px;
    }

    #experiences > article > ul {
        margin: 1vh 0vw;
    } 

    section > h4 {
        font-family: 'Archivo Black', sans-serif;
        color: #ffdf2b;
        font-size: 2.25vh;
        margin-bottom: 0px;
    }

    .spaced_list li {
        margin: 1vh 0vw;
    }

    section {
        margin: 40px 0px;
    }

    #web_prog {
        margin-bottom: 2vh;
    }

    #certification h4 {
       font-size: 3vw; 
    }

    #data {
        margin-bottom: 30px;
        padding-bottom: 10px;
        border-bottom: 2px solid #ffdf2b;
    }

    #certification {
        border-top: 2px solid #ffdf2b;
    }


}

@media (min-width: 1025px) {
    body {
        display: grid;
        grid-template-columns: 2fr 7fr;
        grid-template-rows: 1fr;

        background-color: #004aad;

        height: fit-content;

        margin: 0px;
        margin-left: 0px;

    }

    header {
        grid-column: 2;
        grid-row:  1;

        margin: 20px 20px 0px;
        overflow: hidden;
    }

    img {
        width: auto;
        height: 30vw; 

        border-bottom: 2px solid #ffdf2b;
    }

    #photo_container {
        width: auto;
        height: 30vw;

        margin: 0px;

        border-right: 2px solid #ffdf2b;

        grid-column: 1;
        grid-row: 1;

    }

    aside {
        grid-column: 1;
        grid-row: 1;

        padding: 31vw 20px 0px;

        border-right: 3px solid #ffdf2b;

        display: flex;
        flex-direction: column;

    }

    aside ul {
        list-style: none;
        padding: 0;
    }

    h1 {
        font-size: 5vh;
        margin: 0px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    h1 > span {
        padding-left: 10px;
        animation: MovingTitle 5s linear 3;
        text-shadow: black -5px 2px;
    }

    h1  svg {
        height: 5vh;
        width: 5vh;

        font-size: 5vh;
        display: flex;
        fill: yellow;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-size: 2.5vh;
        margin: 0px;
        margin-top: 1vh;

        padding-left: 10px;

        animation: MovingTitle 7s linear 2s 2 reverse;
    }

    main {
        grid-column: 2;
        grid-row: 1;

        padding-top: 150px;
        padding: 150px 30px 0px

    } 

    h3 {
        margin: 0px;
        font-size: 2.25vh;
    }

    article > h4 {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 1.5vh;
    }

    #experiences > article > h4 {
        border-bottom: #ffdf2b solid 2.5px;
        text-transform: uppercase;
        padding-bottom: 1vh;
    }

    #experiences > article > h5 {
        margin: 0px;
    }

    #experiences > article > ul {
        margin: 1vh 0vw;
    } 

    section > h4 {
        font-family: 'Archivo Black', sans-serif;
        color: #ffdf2b;
        font-size: 2.25vh;
        margin-bottom: 0px;

    }

    .spaced_list li {
        margin: 1vh 0vw;
    }

    section {
        margin: 40px 0px;
    }

    #web_prog {
        margin-bottom: 2vh;
    }


    #contact {
        order: -1;
        margin: 20px 0px;

    }

    #contact h3 {
        animation: Beating 5s linear infinite;
        text-shadow: black -5px 2px;
    }

    #data h3 {
        animation: Beating 5s linear 2s infinite;
        text-shadow: black -5px 2px;
    }

    header svg {
        fill : #004aad;
    }

}

@keyframes MovingTitle {
    50% {
        transform: translateX(50%);
    }

    99% {
        transform: translateX(99%);
        text-shadow: #004aad 1px 1px; 
    }

    100% {
        transform: translate(0%);
        color: #004aad;
        text-shadow: none;
    }
}

@keyframes Beating{
   50% {
     transform: rotate(2deg);
   } 
   100%, 0%{
    transform: rotate(-2deg);
   }
}

